<h3> Create Your To-Do List! </h3>

<hr>
<%= form_for @list do |f| %>
  <%= f.label "Title your to-do list" %>
  <p><%= f.text_field :title %></p>

  <%= fields_for :to_do_items do |f| %>
    <%= f.label "Add an item to your to-do list!" %>
    <p><%= f.text_field :content %></p>
  <% end %>
  <%= f.submit "Add an item and start your list!" %>
<% end %>
