

<!-- make this a list of all the lists -->

<!-- place\ the following code in the individual list show page-->
<h3> <%= @list.name.titlecase %> </h3>

<hr>
<%= form_for @list do |f| %>
  <% @list.items.each do |item| %>
    <% if item.complete == false %>
      <p><%= check_box_tag 'complete[item_ids][]', item.id %> <%= item.name %> </p>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>

<h4>Add and item to your to-do list!</h4>
<%= form_for @list do |f| %>
  <%= fields_for :items do |f| %>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>
<!-- back to activity -->
<!-- back to user page -->
