<h3> <%= @list.name.titlecase %> </h3>

<hr>
<% if incomplete_items? %>
  <%= form_for @list do |f| %>
    <% display_incomplete_items(@list).each do |html| %>
      <%= raw(html) %>
    <% end %>
    <%= f.submit %>
  <% end %>
  <hr>
<% end %>

<!-- option to see accomplished items (with checkbox checked) -->

<h4>Add an item to your to-do list!</h4>
<%= form_for @list do |f| %>
  <%= fields_for :items do |f| %>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>

<hr>
<%= link_to 'Back to my drop', activity_path(@list.activity_id) %> :
<%= link_to 'Back to my home page', user_path(@list.user_id) %>

<!-- option to delete list - maybe include 'are you sure?' -->
