<%= render "print_messages" %>

<h2> Drop: <%= @list.activity.title.titlecase %>
<h3> <%= @list.name.titlecase %> </h3>

<hr>
<%= render 'list_items' %>

<!-- option to see accomplished items (with checkbox checked)? -->

<h4>Add an item to your to-do list!</h4>
<%= form_for @list do |f| %>
  <%= fields_for :items do |f| %>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>

<hr>
<p><%= link_to 'Back to my drop', activity_path(@list.activity_id) %></p>
<p><%= link_to 'Back to my user page', user_path(@list.user_id) %></p>
<p><%= link_to 'Delete To-Do List', "/list/#{@list.id}/delete" %></p>
