<h3> <%= @list.name.titlecase %> </h3>

<hr>
<%= form_for @list do |f| %>
  <% @list.items.each do |item| %>
    <% if item.complete == false %>
      <h4><p><%= check_box_tag 'complete[item_ids][]', item.id %> <%= item.name %> </p></h4>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>

<hr>
<h4>Add and item to your to-do list!</h4>
<%= form_for @list do |f| %>
  <%= fields_for :items do |f| %>
    <%= f.label "Item Name" %>
    <%= f.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>

<hr>
<p><%= link_to 'Back to my drop', activity_path(@list.activity_id) %></p>
<p><%= link_to 'Back to my home page', user_path(@list.user_id) %></p>
