<h3><%= @bucket_item.title %></h3>
<h4><%= @bucket_item.description %></h4>
<h4><%= @bucket_item.formated_date %></h4>

<p><%= link_to 'Go Back to My Drops', bucket_items_path %></p>
<p><%= link_to 'Go Back to My User Page', user_path(@bucket_item.user) %></p>
<p><%= link_to 'Edit This Drop', edit_bucket_item_path(@bucket_item) %></p>
