<h2>Add A Drop to Your Bucket!</h2>
<!-- this is the same as activity/new - how to combine? -->
<%= form_for @user do |f| %>
  <%= fields_for :activities do |ff| %>
    <p><%= ff.label "Title Your Drop" %></p>
    <%= ff.text_field :title %>
    <p><%= ff.label "Describe Your Drop. Why is it important?" %></p>
    <%= ff.text_area :description %>
    <p><%= ff.label "When Do You Hope To Complete Your Drop?" %></p>
    <%= ff.date_field :due_date %>
  <% end %>
  <p><%= f.submit "Add Drop to Bucket" %></p>
<% end %>
