<h3><%= "#{@user.name.titlecase}'s ACCOUNT!!!!" %></h3>

<hr>
<p><b>Name:</b> <%= @user.name %></p>
<p><b>Username:</b> <%= @user.username %></p>
<p><b>Email:</b> <%= @user.email %></p>

<!-- ### add image <input> when account first created ### -->

<hr>
<p><%= link_to 'Edit account details', '/account/edit' %></p>
<p><%= link_to 'Back to my home page', user_path(@user) %></p>
