<h3><%= "#{@user.name.titlecase}'s ACCOUNT!!!!" %></h3>

<!-- name -->
<p><b>Name:</b> <%= @user.name %></p>
<!-- username -->
<p><b>Username:</b> <%= @user.username %></p>
<!-- email -->
<p><b>Email:</b> <%= @user.email %></p>
<!-- about -->
<p><b>About:</b> <%= @user.about %></p>

<!-- edit image -->

<%= link_to 'Edit Account Information', edit_user_path(@user) %>
