<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<%= render 'list_activities' %>

<!-- if user has an image, display -->
<% if @user.image %>
  <hr>
  <%= image_tag(@user.image) %>
<% end %>

<% if @user.activities.empty? %>
  <h2><p>You haven no planned drops! Add a drop below.</p></h2>
<% else %>
  <br>
  <button id="all-drops-button" data-user-id="<%= @user.id %>">View All Drops</button>
  <div id="list-drops"></div>
<% end %>

<hr>
<button id="add-drop-button">Add A Drop</button>
<!--  change submit button text from 'Activity' to 'Drop'-->
<div id="add-a-drop">
  <%= form_for activity do |f| %>
    <p><%= f.label "Title Your Drop" %></p>
    <%= f.text_field :title %>
    <p><%= f.label "Category" %></p>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <p><%= f.label "Why is this drop important?" %></p>
    <%= f.text_area :description %>
    <p><%= f.label "When Do You Hope To Complete Your Drop?" %></p>
    <%= f.date_field :due_date %>
    <p><%= f.submit %></p>
  <% end %>

  <hr>
  <%= link_to "Back", :back %>
</div>

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
