<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<%= render 'list_activities' %>

<!-- if user has an image, display -->
<% if @user.image %>
  <hr>
  <%= image_tag(@user.image) %>
<% end %>

<% if @user.activities.empty? %>
  <h2><p>You haven no planned drops! Add a drop below.</p></h2>
<% else %>

  <br>
  <button id="all-drops" data-user-id="<%= @user.id %>">View All Drops</button>
  <div id="show-drop-button"></div>
  <br>
    <hr>
  <button id="add-drop-button">Add A Drop</button>
  <div id="add-a-drop"></div>
<% end %>

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
