<div id="bounding-box">
  <h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

  <hr>

  <div id="container">
    <!-- left column! -->
    <div id="left">
      <div>
        <!-- if user has an image, display -->
        <% if @user.image %>
          <span id="image-container">
            <%= image_tag(@user.image) %>
          </span>
        <% end %>
        <br>
        <% if @user.activities.empty? %>
          <h2><p>You haven no planned drops! Add a drop below.</p></h2>
        <% else %>
          <br>
          <button id="all-drops-button" data-user-id="<%= @user.id %>">View All Drops</button>
        <% end %>
        <br><br>

        <%= button_tag "Add A Drop", id: "add-drop-button", remote: true %>
        <br>
        <p>my to-do-lists</p>
        <p><%= link_to 'My Account', '/account' %></p>
        <p><%= link_to 'Log Out', '/logout' %></p>
      </div>
    </div>
    <!-- right column! -->
    <div id="right">
      <div id="right-column-content"></div>
    </div>
    <div class="clear"></div>
  </div>

  <%= render 'list_activities' %>
</div>
