<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<%= render 'list_activities' %>

<!-- if user has an image, display -->
<% if @user.image %>
  <hr>
  <%= image_tag(@user.image) %>
<% end %>

<% if @user.activities.empty? %>
  <h2><p>You haven no planned drops! Add a drop below.</p></h2>
<% else %>
  <br>
  <button id="all-drops-button" data-user-id="<%= @user.id %>">View All Drops</button>
  <div id="list-drops"></div>
<% end %>

<hr>
<button id="add-drop-button">Add A Drop</button>
<!--  change submit button text from 'Activity' to 'Drop'-->
<div id="add-a-drop">
  <%= form_for @user do |f| %>
    <p><%= f.label "Name" %></p>
    <%= f.text_field :name %>
    <p><%= f.label "Username" %></p>
    <%= f.text_field :username %>
    <p><%= f.label "Email" %></p>
    <%= f.text_field :email %>
    <p><%= f.label "Password (6-20 characters)" %></p>
    <%= f.password_field :password %>
    <p><%= f.label "Re-Enter Password" %></p>
    <%= f.password_field :password_confirmation %>
    <p><%= f.submit submit_text %></p>
    <p><%= f.label "Choose your favorite bucket category" %></p>
    <%= f.select(:categories, Category.all.collect { |cat| cat.name }, { :prompt => "Please select" }) %>
  <% end %>
</div>

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
