<div id="bounding-box">
  <h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>
  <p><%= link_to 'Account', '/account' %> | <%= link_to 'Log Out', '/logout' %></p>
  <hr>
  <div id="container">

    <!-- left column -->
    <div id="left">
      <div>
        <!-- if user has an image, display -->
        <% if @user.image %>
          <span id="image-container">
            <%= image_tag(@user.image) %>
          </span>
        <% end %>
        <br>
        <% if @user.activities.empty? %>
          <h2><p>You haven no planned drops! Add a drop below.</p></h2>
        <% else %>
          <br>
          <button id="all-drops-button" data-user-id="<%= @user.id %>">View All Drops</button>
        <% end %>
        <br><br>

        <%= button_tag "Add A Drop", id: "add-drop-button" %>
        <br><br>
        <%= button_tag "My To-Do-Lists", id: "to-do-button" %>
      </div>
    </div>

    <!-- right column -->
    <div id="right">
      <!-- VIEW INCOMPLETE DROPS WHEN LANDING ON PAGE -->

      <div id="right-column-content">ADVENTURE AWAITS!!</div>
      <div id="activities-form" style="display:none">

        <%= form_for Activity.new do |f| %>
          <p><%= f.label "Title Your Drop" %></p>
          <%= f.text_field :title %>
          <p><%= f.label "Category" %></p>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
          <p><%= f.label "Description" %></p>
          <%= f.text_area :description %>
          <p><%= f.label "Deadline" %></p>
          <%= f.date_field :due_date %>
          <p><%= f.submit "Add Drop To Your Bucket", id: "submit-new-drop-button" %></p>
        <% end %>
      </div>

    </div>
    <div class="clear"></div>
  </div>

  <%= render 'list_activities' %>
</div>
