<div id="bounding-box">
  <h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

  <hr>

  <div id="container">
    <!-- left column! -->
    <div id="left">
      <div>
        <!-- if user has an image, display -->
        <% if @user.image %>
          <span id="image-container">
            <%= image_tag(@user.image) %>
          </span>
        <% end %>
        <br>
        <% if @user.activities.empty? %>
          <h2><p>You haven no planned drops! Add a drop below.</p></h2>
        <% else %>
          <br>
          <button id="all-drops-button" data-user-id="<%= @user.id %>">View All Drops</button>
        <% end %>
        <br><br>

        <button id="add-drop-button">Add A Drop</button>
        <br>
        <p>my to-do-lists</p>
        <p>add a drop </p>
        <p><%= link_to 'My Account', '/account' %></p>
        <p><%= link_to 'Log Out', '/logout' %></p>
      </div>
    </div>
    <!-- right column! -->
    <div id="right">
      <div id="right-column-content"></div>
    </div>
    <div class="clear"></div>
  </div>

  <%= render 'list_activities' %>
</div>

<script type="text/javascript" charset="utf-8">
    $(function() {
      $("#add-drop-button").on("click", function() {
        let div = $("#right-column-content")

        div[0].innerHTML =
          `<%= form_for @activity do |f| %>
          <p><%= f.label "Title Your Drop" %></p>
          <%= f.text_field :title %>
          <p><%= f.label "Category" %></p>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
          <p><%= f.label "Description" %></p>
          <%= f.text_area :description %>
          <p><%= f.label "Deadline" %></p>
          <%= f.date_field :due_date %>
          <p><%= f.submit %></p>
        <% end %>`
      })
    })
</script>
