<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<hr>
<%= link_to 'Add A Drop to My Bucket', new_user_activity_path(@user) %> :
<%= link_to 'My Account', '/account' %> :
<%= link_to 'Log Out', '/logout' %>

<hr>
<% if @user.image %>
  <%= image_tag(@user.image) %>
<% end %>

<hr>
<h3> Upcoming Drop Deadlines </h3>

<% @user.upcoming_activity_deadlines.each do |activity| %>
  <p><%= "#{activity.title} | Due: #{activity.formatted_date}" %></p>
<% end %>

<hr>
<hr>
<h2> My Drops </h2>
<!-- negates need for activities/show -->
<% if @user.activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
<% else %>
  <% @user.activities.each do |activity| %>
    <h4><li><%= link_to "#{activity.title}", activity_path(activity.id) %></h4>
  <% end %>
<% end %>
