<h3>Hello, <%= @user.name %>!</h3>
<h2>Welcome to your bucket</h2>
<hr>

<h3> Upcoming Drop Deadlines </h3>

<% @user.upcoming_activity_deadlines.each do |activity| %>
  <h4><%= "#{activity.title} | Due: #{activity.formatted_date}"%></h4>
<% end %>
<hr>

<% if @user.image %>
  <%= image_tag(@user.image) %>
<% end %>
<hr>

<%= link_to 'See My Drops', user_activities_path(@user) %> :
<%= link_to 'Add A Drop to My Bucket', new_user_activity_path(@user) %> :
<%= link_to 'My Account', '/account' %> :
<%= link_to 'Log Out', '/logout' %>
