<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<!-- don't show if no upcoming drops or no drops -->
<% if @user.activities.any? { |activity| activity.complete == false} %>
  <hr>
  <h3> Upcoming Drop Deadlines </h3>
  <!-- reduce the logic in this view!! -->

  <% @user.upcoming_activity_deadlines.each do |activity| %>
    <p><%= link_to "#{activity.title} | Due: #{activity.formatted_date}", activity_path(activity)  %></p>
  <% end %>
<% end %>

<hr>
<% if @user.image %>
  <%= image_tag(@user.image) %>
<% end %>

<hr>
<hr>
<h2> My Drops </h2>
<!-- don't show if no upcoming drops or no drops -->
<!-- if user has no drops -->
<% if @user.activities.empty? %>
  <h2><p>You haven't planned any drops! Click below to add a drop.</p></h2>
<% else %>
<!-- list user's incomplete drops -->
<!-- see all drops! -->
<h5><i><%= link_to 'See All of My Drops', activities_path %></i></h5>
  <% @user.activities.each do |activity| %>
    <% if activity.complete == false %>
      <h4><li><%= link_to "#{activity.title}", activity_path(activity.id) %></h4>
    <% end %>
  <% end %>
<% end %>

<h2>Add A Drop to Your Bucket!</h2>

<%= form_for @user do |f| %>
  <%= fields_for :activities do |ff| %>
    <p><%= ff.label "Drop Title" %></p>
    <%= ff.text_field :title %>
    <p><%= ff.label "Drop Description" %></p>
    <%= ff.text_area :description %>
    <p><%= ff.label "Due Date" %></p>
    <%= ff.date_field :due_date %>
  <% end %>
  <p><%= f.submit "Add Drop to Bucket" %></p>
<% end %>

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
