<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<%= render 'list_activities' %>

<!-- if user has an image, display -->
<% if @user.image %>
  <hr>
  <%= image_tag(@user.image) %>
<% end %>

<%= render 'my_drops' %>

<!--  show user activity categories via User.categories (User has many categories through activities)-->

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
