<h2>Welcome To Your Bucket, <%= @user.name.capitalize %>!</h2>

<%= render 'list_activities' %>

<!-- if user has an image, display -->
<% if @user.image %>
  <hr>
  <%= image_tag(@user.image) %>
<% end %>

<%= render 'my_drops' %>

<hr>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>

<button id="all-drops">View All Drops</button>

<script>
  $(function() {
    $("#all-drops").on('click', function() {
      alert("click!!!!!!!!!!!!!!!")
    })
  })
</script>
