<h3>Hello, <%= @user.name %>!</h3>
<h2>Welcome to your bucket!</h2>
<hr>

<h2> Upcoming Drop Deadlines! </h2>

<% @user.upcoming_activity_deadlines.each do |activity| %>
  <p><h3><%= "--> #{activity.title} | Due: #{activity.formatted_date}"%></p></h3>
<% end %>
<hr>

<% if @user.image %>
  <%= image_tag(@user.image) %>
<% end %>
<hr>

<p><%= link_to 'See My Drops', '/activities' %></p>
<p><%= link_to 'Add A Drop to My Bucket', '/activities/new' %></p>
<p><%= link_to 'My Account', '/account' %></p>
<p><%= link_to 'Log Out', '/logout' %></p>
