<%= form_for activity, remote: true do |f| %>
  <p><%= f.label "Title Your Drop" %></p>
  <%= f.text_field :title %>
  <p><%= f.label "Category" %></p>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
  <p><%= f.label "Description" %></p>
  <%= f.text_area :description %>
  <p><%= f.label "Deadline" %></p>
  <%= f.date_field :due_date %>
  <p><%= f.submit %></p>
<% end %>

<hr>
<%= link_to "Back", :back %>
