<hr>
<%= form_for @activity do |f| %>
  <p><%= f.label "Title Your Drop" %></p>
  <%= f.text_field :title %>
  <p><%= f.label "Category" %></p>
  <%= f.select(:categories, Category.all.collect { |cat| cat.name } ) %>
  <p><%= f.label "Why is this drop important?" %></p>
  <%= f.text_area :description %>
  <p><%= f.label "When Do You Hope To Complete Your Drop?" %></p>
  <%= f.date_field :due_date %>
  <p><%= f.submit %></p>
<% end %>

<hr>
<%= link_to "Back", :back %>
