<div id="bounding-box">
  <div id="header-right-column">
    <p><a href="#" class="js-previous" data-id="<%= @activity.id %>">previous activity</a> | <a href="#" class="js-next" data-id="<%= @activity.id %>">next activity</a></p>
  </div>

  <h3>Your Drop: </h3>
  <h2 id="activityTitle"><%= @activity.title %></h2>
  <hr>

  <div class="no-break">
    <p>Due Date: </p>
    <p id="dueDate"> <%= @activity.formatted_date %> </p>
  </div>
  <!-- if past due -->
  <h3 id="pastDue"><%= past_due(@activity) %></h3>
  <hr>
  <!-- want to click and see all user activities by category -->
  <h4>Category:</h4>
  <p id="categoryName"><%= @activity.category_name.upcase %></p>

  <h4>Description:</h4>
  <p id="description"><%= @activity.description %></p>
  <hr>

  <div id="container">
    <!-- left column -->
    <div id="left">
      <%= button_tag "View Drop To-Dos", id: "view-todo-button" %>
      <br><br>
      <%= button_tag "Add A To-Do list", id: "add-todo-button" %>
      <br><br>
      <%= button_tag "Edit This Drop", id: "edit-drop-button" %>
      <br><br>

      <hr>
      <!-- mark activity complete -->
      <%= form_for @activity do |f| %>
        <%= f.check_box :complete, value: @activity.complete %> Mark This Drop Complete
        <%= f.submit 'Update' %>
      <% end %>
    </div>

    <!-- right column -->
    <div id="right">

      <div id="right-column-content">
        <h3>Drop To-Dos</h3>
        <!-- if activity has to-do lists -->
        <% if @activity.any_lists? %>
          <% display_activity_lists(@activity).each do |html| %>
            <%= raw(html) %>
          <% end %>
        <% else %>
          You have no to-do lists!
        <% end %>
      </div>

    <!-- add to-do list -->
      <div id="new-list-form" style="display:none">
      <!-- <h4>Add A New To-Do List!</h4> -->
        <%= form_for @activity do |f| %>
          <%= fields_for :lists do |ff| %>
            <p><%= ff.label "List Name" %></p>
            <%= ff.text_field :name %>
          <% end %>
          <p><%= f.submit "Create To-Do List" %></p>
        <% end %>
      </div>
    </div>

  <hr>
  <p><%= link_to 'Add A Drop to My Bucket', new_activity_path(@activity) %>  |  <%= link_to 'View All of My Drops', user_activities_path(@activity.user) %>  |  <%= link_to 'Go Back to My User Page', user_path(@activity.user) %></p>
</div>
