<h2>Your Drop: <%= @activity.title %></h2>
<!-- reduce the logic in this view!! -->

<h2>Description</h2><h3><%= @activity.description %></h3>
<h4><p> Due Date: <%= @activity.formatted_date %> </p></h4>

<hr>
<!-- if past due -->
<% if @activity.countdown < 0 %>
  <h3> This activity is past due! </h3>
<% else %>
  <h3><%= "#{@activity.countdown} days until this drop is due!" %></h3>
<% end %>

<hr>
<!-- mark complete -->
<%= form_for @activity do |f| %>
  <%= f.check_box :complete, value: @activity.complete %> Mark Complete
  <%= f.submit 'Update' %>
<% end %>

<!-- <hr> error here! to-do lists are showing up even if none created for the user/activity -->
<!-- if activity has to-do lists -->
<% if !@activity.lists.empty? %>
  <hr>
  <h2> To-Do Lists </h2>
  <% @activity.lists.each do |list| %>
    <h3><p><%= link_to list.name.titlecase, list_path(list) %></h3></p>
  <% end %>
<% else %>
  <% nil %>
<% end %>

<!-- add to-do list -->
<h4>Add A New To-Do List!</h4>

<%= form_for @activity do |f| %>
  <%= fields_for :lists do |ff| %>
    <p><%= ff.label "List Name" %></p>
    <%= ff.text_field :name %>
  <% end %>
  <p><%= f.submit "Create To-Do List" %></p>
<% end %>

<hr>
<p><%= link_to 'Edit This Drop', edit_activity_path(@activity) %></p>
<p><%= link_to 'Add A Drop to My Bucket', activity_path(@activity) %></p>
<p><%= link_to 'View All of My Drops', activities_path %></p>
<p><%= link_to 'Go Back to My User Page', user_path(@activity.user) %></p>
