<h2><%= @activity.title %></h2>
<hr>

<h3><%= @activity.description %></h3>
<h3><%= @activity.formatted_date %></h3>

<hr>
<%= link_to 'Go Back to My Drops', activities_path %> :
<%= link_to 'Go Back to My User Page', user_path(@activity.user) %> :
<%= link_to 'Edit This Drop', edit_activity_path(@activity) %> :

<% if !@list.nil? %>
  <%= link_to 'View my To-Do Lists', activity_lists_path(@list) %>
<% else %>
  <%= link_to 'Add a To-Do List', new_activity_list_path(@activity, @list) %>
<% end %>
<br>

<hr>
<h2><%= "#{@activity.countdown} days until your personal deadline!" %></h2>
