<!DOCTYPE html>
  <html>
    <head>
      <title>Buckets</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <% if @messages %>
      <hr>
        ERRORS!
        <% @messages.each do |attribute, message| %>
          <% if !message.empty? %>
            <li><%= attribute.to_s.titlecase  %>, <%= message.join(", ") %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
    </body>
  </html>
